[submodule "mars-rover-rce"]
	path = mars-rover-rce
	url = https://github.com/WoodyWoodsta/mars-rover-rce.git
[submodule "mars-rover-rsvp-client"]
	path = mars-rover-rsvp-client
	url = https://github.com/WoodyWoodsta/mars-rover-rsvp-client.git
[submodule "mars-rover-rsvp-server"]
	path = mars-rover-rsvp-server
	url = https://github.com/WoodyWoodsta/mars-rover-rsvp-server.git
[submodule "mars-rover-writeup"]
	path = mars-rover-writeup
	url = https://github.com/WoodyWoodsta/mars-rover-writeup.git
[submodule "mars-rover-models"]
	path = mars-rover-models
	url = https://github.com/WoodyWoodsta/mars-rover-models.git
