
html {
  /* default app colors */
  --primary-color:        #795548;
  --primary-color-dark:   #5D4037;
  --primary-color-light:  #D7CCC8;
  --accent-color:         #FF5722;

  /* default app monochromatics */
  --light-strong-alpha:   rgba(255,220,200,1);
  --light-medium-alpha:   rgba(255,220,200,0.7);
  --light-normal-alpha:   rgba(255,220,200,0.38);
  --light-semiweak-alpha: rgba(255,220,200,0.2);
  --light-weak-alpha:     rgba(255,220,200,0.1);
  --light-strong:         #fff;
  --light-medium:         #b3b3b3;
  --light-normal:         #616161;
  --light-weak:           #1a1a1a;

  --dark-strong-alpha:    rgba(30,12,0,0.87);
  --dark-medium-alpha:    rgba(30,12,0,0.54);
  --dark-normal-alpha:    rgba(30,12,0,0.38);
  --dark-semiweak-alpha:  rgba(30,12,0,0.2);
  --dark-weak-alpha:      rgba(30,12,0,0.1);
  --dark-strong:          rgb(59, 44, 33);
  --dark-medium:          rgb(134, 124, 117);
  --dark-normal:          rgb(170, 163, 158);
  --dark-semiweak:        rgb(210, 206, 204);
  --dark-weak:            rgb(233, 231, 230);

  --transparent:          rgba(0, 0, 0, 0);
}
